.container{
  width: 1140px;
  margin: 0 auto;
  .content-wrapper{
    width: 50%;
    display: flex;
    // margin: 0 auto;
    .content-main{
      .content-blogs{
        width: 500px;
        flex-wrap: wrap;
        display: flex;
        margin-right: 30px;
        .content-blog{
          width: 750px;
          height: auto;
          .blog-top-image{
            .image-size{
              width: 500px;
              height: auto;
            }
          }
        }
        .blog-bottom{
          .created-at{
            font-size: 10px;
          }
          .blog-title{
            height: 30px;
            margin-bottom: 20px;
            text-align: center;
          }
        }
      }
    }
    .content-side{
      .content-sidebar{
      width: 200px;
        .profile{
          margin-top: 50px;
          .profile-image{
            img{
              width: 200px;
              height: 200px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
          .profile-text{
            text-align: center;
            margin-top: 30px;
          }
          .profile-occupation{
            text-align: center;
            margin-top: 20px;
          }
          .profile-content{

          }
          .profile-hr{
            width: 50px;
          }
        }
        .tag-list{
          margin-top: 30px;
        }
      }
    }
  }

  .top-image-size{
    width: 500px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
	/* 1024px以上に適用されるCSS（PC用） */
  .margin-left{
    margin-left: 30%;
  }
}

@media screen and (max-width: 425px) {
	/* 425px以下に適用されるCSS（スマホ） */
  .margin-left{
    margin-left: 30%;
  }
}
